# Ignore working directories.
/webDev/2_6_Udemy_ModernHTML_CSS/14_LearningSass_040723/mySass_sandbox/node_modules/
/webDev/2_6_Udemy_ModernHTML_CSS/15_PortfolioWebsiteWithSass/myPortfolioWeb_sass/node_modules/
